<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.stock.mapper.PaymentMapper">

    <insert id="saveAutoPaymentInfo" parameterType="PaymentVO">
        INSERT INTO pop_payment (reserve_id, order_code, payment_amount, pg_name, result_code, result_message, allat_order_no,
                                 payco_order_no, payco_order_certifykey, complete_ymdt, when_created, when_modified)
        VALUES(#{reserveId}, #{orderCode}, #{paymentAmount}, #{pgName}, #{resultCode}, #{resultMessage}, #{allatOrderNo}, #{paycoOrderNo},
               #{paycoOrderCertifyKey}, #{completeYmdt}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="selectPayment" resultType="PaymentVO" parameterType="Long">
        SELECT *
          FROM pop_payment
         WHERE reserve_id = #{reserveId}
         ORDER BY when_created DESC
         LIMIT 1
    </select>

</mapper>